.chart-wrapper {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20;
  overflow: hidden;
  boxsizing: border-box;
}

.align-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.button {
  padding: 4px 8px;
  border-radius: 3px;
  background-color: rgb(93, 150, 255);
  color: #fcfcfc;
  cursor: pointer;
  z-index: 1;
}

.ml10 {
  margin-left: 10px;
}
