.chart-container {
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, max-content) 1fr minmax(0, max-content) minmax(0, max-content);
  grid-template-rows: minmax(0, max-content) auto 1fr auto minmax(0, max-content);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chart-gl-canvas,
.chart-overlay-canvas {
  position: relative;
  grid-column: 3;
  grid-row: 3;
  margin: 0;
  font-size: 0;
  overflow: hidden;
  z-index: 1;
}
.chart-overlay-canvas {
  pointer-events: none;
  z-index: 0;
}
/*
.log {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 10px;
  color: #fff;
  background: #000000aa;
}
*/
